name: "rpc_generator_workspace"
publish_to: none

environment:
  sdk: ">=3.9.2 <4.0.0"

workspace:
  - rpc_annotations
  - rpc_generator

dev_dependencies:
  melos: ^7.3.0

melos:
  scripts:
    test:
      run: dart test --reporter github
      exec:
        concurrency: 2
      packageFilters:
        dirExists:
          - test
      description: Run tests for a specific package.

    test:all:
      run: melos run test --no-select
      description: Run tests for all packages in this workspace.
